$main_bg: #F7F8FA; //grey
$footer: #0C0F11;
$content_price: #FFB217; //yellow
$text_color: #263644;
$package_bg: #F0F1F7;
$package: #DCE1EC;
$price_btn: #553DB4;
$btn_bg: #FFAD00;

$yellow_light: #FFF4DE;
$purle_light: rgba(85, 61, 180, 0.07);

$box-shadow: 0px 0px 30px #E3E5E7;

