@mixin font($font_name, $file_name, $weight, $style) {

@font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";
@import "_variables";
@import "select";
@import "sticky";
@import "icofont.min";


*{
    margin: 0;
    padding: 0;
}

ul ,li {
    list-style: none;
    margin: 0;
}


a:hover {
    text-decoration: none;
}
html {
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
    color: $text_color;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.form-control {
    border-radius: 3px;
}
.btn {
    border-radius: 0px;
}
.btn__reset {
    background: none;
    border: none;
    font-size: 16px;
    color: #98A0A9;
    &:active {
        outline: none;
        border: none;
    }    
}
// ################################################## HOME PAGE START #################################################################

.main-width {
    margin: 0 auto;
    max-width: 1325px;
    padding-left:  15px ;
    padding-right: 15px;
}

.header {
    width: 100%;
    position: relative;
    background:url(../img/bg/header.jpg)  no-repeat;
    background-size: cover;
    @media (max-width: 600px) {
        & {
            background: #553DB4;
        }
    }
    
    .header-area {
        width: 100%;
        position: fixed;
    }

}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(18, 0, 90, 0.25);
    margin: 0;
    a {
        color: #fff;
    }

    &__left > ul{
        padding: 0 0 0 30px;
        display: flex;
        align-items: center;
        li {
            margin-right: 15px;
            text-transform: uppercase;
            a {
                color: rgba(255,255,255,.2);
                font-weight: normal;
                &.active{
                    color: #fff;
                }
            }
        }
    }

    &__right{
        display: flex;
        .contact__us{
            padding: 20px 30px;
            background: rgba(18, 0, 90, 0.25);
            font-size: 16px;
            @media (max-width:770px) {
                & {
                    background: none;
                }
            }
            @media (max-width:575px) {
                & {
                    padding: 15px 20px;
                }
            }
        }
        span {
            color: rgba(255,255,255,.071);
        }
    }

    &__right > ul{
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
        }
    }
}

.nav-main{
    padding-top: 22px ;
    padding-bottom: 22px;
    & > ul {
        padding-left: 17px;
        display: flex;
        align-items: center;
        li {
            margin-right: 45px;
            &:first-child {
                a {
                    &::after{
                        background: none;
                    }
                }
            }
            a {
                color: #fff;
                font-size: 16px;
                position: relative;
                &.active{
                    color: rgba(255,255,255,.4);
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $btn_bg;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    transition: all .5s ease;
                    transform: scale(0);
                    transform-origin: 50%;
                }
                &:hover {
                    &::after{
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.mobile-logo {
    position: absolute;
    left: 20px;
    top: 28px;
    display: none;
}

.burger {
    width: 30px;
    height: 24px;
    position: fixed;
    right: 27px;
    top: 30px;
    display: none;
    background: #553DB4;
    box-shadow: 0 0 0 10px #553DB4;
}

@media (max-width: 770px){
    
    .header-area{
        position: fixed;
        height: 100%;
        width: 100%;
        background: #553DB4;
        top: -150%;
        left: 0;
        z-index: 20;
        scroll-behavior: auto;
        transition: all .5s ease-in-out;
    }
    .header-area.active{
        top: 0;
        overflow-y: scroll;
    }
    .header-area .logo {
        display: block;
    }
    .header-area .nav-top {
        flex-direction: column;
        padding-top: 15px;
        justify-content: center;
        &__right {
            @media (max-width:600px) {
                &{
                    margin-top: 20px;
                    flex-direction: column;
                    align-items: center;
                    ul {
                        li {
                            margin-right: 10px;
                        }
                    }
                    a {
                        margin-top: 10px;
                        padding: 10px 5px;
                    }
                }
            }
        }
    }
    .header-area .nav-main ul {
        flex-direction: column;
        margin-top: 40px;
        li {
            margin-bottom: 15px;
            margin-right: 0;
            a{
                font-size: 20px;
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .mobile-logo {
        display: block;
    }
}

@media (max-width: 770px){
    .burger {
        display: block;
        z-index: 20;
    }
    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $content_price;
        transition: all .5s ease-in-out;
    }
    .burger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background: $content_price;
        top: 11px;
        transform: scale(1);
        transform-origin: 0;
        transition: all .7s ease;
    }
    .burger::before {
        top: 0;
    }
    .burger::after{
        bottom: 0;
    }
    .burger.active::before {
        transform: rotate(220deg);
        top: 11px;
    }
    .burger.active::after {
        bottom: 11px;
        transform: rotate(-220deg);
    }
    .burger.active span {
        transform: scale(0);
    }
}

.header__body {
    width: 85%;
    margin: 0 auto;
    padding: 267px 0 130px;
    h1{
        font-size: 36px;
        line-height: 40px;
        font-weight: normal;
        margin-bottom: 25px;
        color: #fff;
        @media (max-width: 575px) {
            & {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .seach__area{
        margin-bottom: 25px;

        .form-control{
            font-size: 18px;
            padding-left: 38px;
            border-radius: 0;
            @media (max-width: 767px) {
                padding-left: 15px;
            }
        }

        button {
            padding: 0 40px;
            font-weight: 500;
            font-size: 20px;
            border-radius: 0;
            background: $btn_bg;
            color: #fff;
        }
    }

    p {
        width: 50%;
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.6);
        @media (max-width: 575px) {
            & {
                font-size: 14px;
                width: 80%;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 200px 0 100px 0;
    }
    @media (max-width: 575px) {
        padding: 120px 0 50px 0;
    }
}

.seach__area {
    display: flex;
    @media (max-width: 770px) {
        & {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            input {
                min-width: 200px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

// ########### MAIN AREA ##########
.main {
    background: $main_bg;
    padding-bottom: 20px;

    section {
        padding-top: 70px;
        @media (max-width: 770px) {
            & {
                padding-top: 30px;
            }
        }
    }
}
.service {
    padding: 40px 40px 0 40px;
    background: #fff;
    border: 1px solid #eee;
    display: flex;
    align-items: flex-start;
    z-index: 0 ;
    position: relative;
    min-height: 265px;
    transition: all .5s ease;
    &__img {
        padding: 15px;
        background: #FFF4DE;
        margin-right: 25px;
        border-radius: 16px;
        &.odd {
            background: rgba(85, 61, 180, 0.07);
        }
        @media (max-width: 600px) {
            & {
                padding: 10px;
                margin-right: 15px;
                img {
                    max-width: 30px;
                }
            }
        }
    }
    &__body {
        position: relative;
        h2{
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 15px;
            @media (max-width: 600px) {
                & {
                    font-size: 18px;
                }
            }
        }

        p {
            font-size: 16px;
            color: #7F858C;
            line-height: 26px;
            font-weight: normal;
            margin-bottom: 0;
        }

        a {
            position: absolute;
            top: 150px;
            display: none;
        }
    }
    &:hover {
        box-shadow: 0px 0px 30px #E3E5E7;
        z-index: 5 !important;
        p{
            display: none;
        }

        a{
            display: block;
            color: $price_btn;
            font-size: 16px;
            font-weight: 500;
        }
    }

    @media (max-width: 990px) {
        & {
            min-height: 220px;
        }
    }

    @media  (max-width: 1170px) {
        & {
            min-height: 280px;
            padding: 25px 25px 0 25px;
        }
    }
    @media (max-width:765px ) and (min-width: 380px) {
        & {
            min-height: 200px;
        }
    }

}

.main-info {
    padding: 65px;
    &__content{
        display: flex;
        justify-content: space-between;
        .content__numbers {
            &:last-child {
                text-align: right;
            }
            div {
                margin-bottom: 20px;
                p {
                    margin-bottom: 4px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 25px;
                    @media (max-width: 600px) {
                        & {
                            font-size: 16px;
                        }
                    }
                }
                a{
                    font-size: 14px;
                    font-weight: normal;
                    color: #553DB4;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        @media (max-width: 1100px){
            & {
                flex-direction: column;
                align-items: flex-start;
                .content__numbers {
                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }
        @media(max-width: 630px) {
            & {
                flex-direction: column;
                align-items: flex-start;
                .content__numbers {
                    &:last-child {
                        text-align: left;
                    }
                }
            }
        }
        @media (max-width: 770px){
            & {
                flex-direction: row;
            }
        }
    }

    @media (max-width: 600px) {
        & {
            padding: 30px;
        }
    }
}


.bg--yellow{
    color: #fff;
    height: 100%;
    background:  url(../img/bg/content_info.png) bottom right no-repeat, $btn_bg;
    h2{
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    h1{
        font-size: 72px;
        font-weight: bold;
        text-transform: uppercase;
    }
    p{
        font-size: 24px;
        font-weight: bold;
    }


    @media (max-width: 770px) {
        &{
            background-image: none;
        }
    }
}

.bg-white{
    h2{
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 47px;
        @media (max-width: 600px) {
            & {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 600px) {
        h2 {
            margin-bottom: 20px;
        }
    }
}

.package__title{
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 35px;
    @media (max-width: 600px) {
        & {
            font-size: 20px;
        }
    }
}

.package {
    padding: 30px 30px 0 30px;
    background: #F0F1F7;
    min-height: 220px;
    position: relative;
    &::after {
        content: '';
        width: 1px ;
        height: 60%;
        background: $package;
        position: absolute;
        right: 0;
        top: 20%;
        @media (max-width: 575px) {
            & {
                background: none;
            }
        }
    }
    &__last {
        &::after{
            background: none;
        }
    }
    &__img{
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        & {
            padding: 45px 45px 18px 45px;
        }
    }
    @media (max-width: 767px) {
        & {
            border-bottom: 1px solid #e6e6e6;
        }
    }
}

.price-area{
    margin-top: 40px;
}

.price {
    margin-bottom: 15px;
    padding: 55px 45px;
    background: #fff;
    border-right: 1px solid $main_bg;
    position: relative;
    // z-index: 0;
    transition: all .4s ease;
    &__title{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
        @media (max-width: 600px) {
            & {
                font-size: 24px;
            }
        }
    }
    &__desc{
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        color: #7F858C;
        min-height: 70px;
        margin: 0;
        @media (max-width: 1270px) and (min-width: 992px) {
            & {
                min-height: 80px;
            }
        }

    }
    &__content{
        min-height: 270px;
        div{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 18px;
            p {
                font-size: 16px;
                font-weight: normal;
                margin: 0;
            }
            img {
                margin-right: 15px;
                padding-top: 5px;
            }
        }
        @media (max-width: 1097px) and (min-width: 992px) {
            & {
                min-height: 360px;
            }
        }
    }
    &__cost{
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    &__cost-desc{
        text-align: center;
        font-size: 14px;
        color: #7F858C;
        margin-bottom: 35px;
    }
    &__btn{
        display: block;
        text-align: center;
        padding: 15px 0;
        width: 90%;
        margin: 0 auto;
        background: #FFF4DE;
        border-radius: 3px;
        font-weight: 500;
        font-size: 18px;
        color: #FFAD00;
        margin-bottom: 10px;
        transition: all .4s ease;

    }
    &__link {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        color: #7F858C;
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 7px;
        top: -7px;
        left: 0;
        background: $price_btn;
        transform: scale(0);
        transition: all .4s ease;
    }
    &:hover {
        box-shadow:  0px 0px 30px #E3E5E7;
        z-index: 5;
        &::after {
            transform: scale(1);
        }
        .price__btn{
            background: $price_btn;
            color: #fff;
        }
    }
    @media (max-width: 1270px) and (min-width: 992px) {
        & {
            padding: 40px 30px;
        }
    }
    @media (max-width: 680px)  {
        & {
            padding: 30px 20px;
        }
    }
}

.top-footer {
    padding: 20px;
    &.text__right{
        text-align: right;
        @media (max-width: 767px) {
            & {
                text-align: left;
            }
        }
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }
    p{
        margin-bottom: 18px;
        a {
            color:#98A0A9 ;
            font-size: 16px;
            font-weight: normal;
            line-height: 20px;
        }
        @media(max-width: 575px) {
            margin-bottom: 10px;
        }
    }
    @media (max-width: 575px) {
        & {
            padding: 10px 10px 0 40px;
        }
    }
}

.footer {
    background: #0C0F11;
    padding: 30px 0;
}

.footer__area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        color: #686868;
        a {
            color: $btn_bg;
        }
    }
    @media (max-width: 767px) {
        & {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}
// ################################################## HOME PAGE END #################################################################



// ################################################## PACKAGES PAGE START #################################################################

.packages-page {
    .header {
        width: 100%;
        background:url(../img/bg/main_bg.png)  no-repeat;
        background-size: cover;
        .header__body{
            width: 100%;
            padding-top: 228px;
            padding-bottom: 90px;
            .package__title {
                color: #fff;
                font-size: 36px;
                font-weight: normal;
                line-height: 50px;
                margin-bottom: 40px;
                @media (max-width: 575px) {
                    & {
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
            }
            @media (max-width: 767px) {
                & {
                    padding-top: 150px;
                }
            }
            @media (max-width: 575px) {
                & {
                    padding-top: 100px;
                }
            }
        }
    }
    main {
        background: rgba(237, 241, 244, 0.46);
    }
}
.packages-page .package__desc p {
    color: $text_color;
    width: 100%;
}

.packages-page main section {
    padding-top: 10px;
    padding-bottom: 40px;
    .no-gutters {
        margin-top: -50px;
    }
}

.packages-page .header__body .package {
    padding-bottom: 0;
    @media (max-width: 575px) {
        & {
            min-height: 150px;
        }
    }
}
.packages-page main section .price-area .price::after{
    background: $btn_bg;
}
.packages-page main .price-area .price {
    .price__content  {
        div {
            position: relative;
        }
        .hide__text {
            transition: all .5s ease;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            padding: 15px;
            width: 100%;
            background: #F0F1F7;
            top: 20px;
            right:-50px ;
            margin-right: -60px;
            z-index: 5;
            @media (max-width: 800px) {
                & {
                    width: 70%;
                    margin-right: 0;
                    right: -20px;
                }
            }
        }
    }
}
.packages-page main .price-area .price .price__content > div{
    &:hover {
        p {
            color: #98A0A9;
            transition: all .5s ease;
        }
        .hide__text {
            opacity: 1;
            visibility: visible;
            font-size: 14px;
        }
    }
}
// ################################################## PACKAGES PAGE END #################################################################



// ################################################## ABOUT PAGE start #################################################################

.about-portal {
    .header {
        width: 100%;
        background:url(../img/bg/main_bg.png)  no-repeat;
        background-size: cover;
    }
    .about__desc{
        width: 70%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        a{
            color: $content_price;
        }
        @media (max-width: 767px) {
            & {
                width: 100%;
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
    &__white {
        width: 100%;
        height: 40px;
        background: $main_bg;
        z-index: 10;
        margin-top: -40px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.about-portal main {
    section:first-child {
        .row {
            margin: 0 auto;
            width: 90%;
        }
    }
    .block__img{
        text-align: right;
        img {
            max-width: 100%;
        }
        @media (max-width: 575px ){
            & {
                text-align: center;
            }
        }
    }
}
.about-portal main {
    .block {
        &__second {
            margin-bottom: 70px;
            .block__text {
                width: 100%;
            }
            padding-left: 0;
        }
        padding-left: 70px;
        h2 {
            font-size: 30px ;
            font-weight: 500;
            margin-bottom: 40px;
            @media (max-width: 575px) {
                & {
                    font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 20px;

                }
            }
        }
        &__text {
            width: 100%;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 30px;
            @media (max-width: 575px) {
                & {
                    width: 100%;
                    font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
            }
        }
        @media (max-width: 575px) {
            & {
                padding-left: 10px;
            }
        }
    }
    .quotes {
        padding: 50px ;
        background:#fff;
        width: 70%;
        margin: 20px auto 100px auto;
        display: flex;
        align-items: flex-start;
        img {
            padding-top: 6px;
        }
        div {
            padding-left: 30px;
            font-size: 16px;
            line-height: 28px;
            a{
                color: $price_btn;
                font-weight: bold;
            }
            .btn__about{
                margin-top: 25px;
                padding: 15px 25px;
                font-size: 18px;
                color: #fff;
                background: $content_price;
            }
        }
        &__bg-none{
            background: transparent;
            margin-bottom: 50px;
        }
        @media (max-width:575px) {
            & {
                padding: 20px;
                width: 90%;flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
                div {
                    font-size: 14px;
                    line-height: 25px;
                    padding: 15px;
                    .btn__about {
                        padding: 10px 15px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .about__graph{
        margin: 0 auto;
        width: 87%;
        min-height: 250px;
        background: #fff;
    }
}
// ################################################## ABOUT PAGE END #################################################################


// ################################################## shops PAGE START ###############################################################

.shops-page {
    @media (max-width: 770px) {
        & {
            .main-header {
                height: 100px;
                background: #553DB4;
            }
            main {
                padding-top: 0;
            }
        }
    }
    .nav-top {
        background: #553DB4;
    }
    .nav-main{
        background: #fff;
        border-bottom: 1px solid #DCE1EC;
        @media (max-width: 770px) {
            & {
                background:transparent;
                border-bottom: none;
                a {
                    color: #fff;
                }
            }
        }
        a {
            color: $text_color;
            &.active {
                color: #98A0A9;
            }
        }
    }
}
.shops-page main {
    padding-top: 75px;
    padding-bottom: 0;
    background: #fff;
    .seach__area {
        margin: 25px auto;
        padding-bottom: 20px;
        display: block;
        border-bottom: 1px solid #DCE1EC;
        @media (max-width: 770px) {
            input {
                min-width: 0;
            }
        }
        .search__block-one{
            width: 100%;
            display: flex;
            margin-bottom: 25px;
            .form-control {
                border: 1px solid #DCE1EC;
                padding-left: 30px;
                border-right: none;
                font-size: 18px;
            }
            .btn {
                font-size: 20px;
                font-weight: 500;
                background: $content_price;
                color: #fff;
                padding: 18px 45px;
            }
            @media (max-width: 770px) {
                & {
                    flex-direction: column;
                    .form-control {
                        border: 1px solid #ced4da;;
                    }
                    .btn {
                        padding: 7px 15px;
                    }
                }
            }
        }
        .search__block-two {
            padding-bottom: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                input {
                    margin-right: 15px;
                    margin-top: -7px;
                    width: 20px;
                    height: 20px;
                }
                label {
                    font-size: 16px;
                    font-weight: 500;
                }
                a{
                    color: $price_btn;
                    font-weight: 500;
                }
            }
            @media (max-width: 770px) {
                flex-direction: column;
                div{
                    justify-content: flex-start;
                }
            }
        }
        .search__block-hide {
            padding: 30px;
            width: 100%;
            background: #F0F1F7;
            margin-bottom: 20px;
            display: none;
            transition: all .4s ease;
            &.active {
            transition: all .4s ease;
            display: block;
            }
            .row {
                margin-bottom: 18px;
                div {
                    input, select, div{
                        height: 50px;
                    }
                }
                
                .block__flex {
                    display: flex;
                    @media (max-width: 770px) {
                        & {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
.shops-page__footer {
    background: $main_bg;
    border-top: 1px solid #E4E8F0;
    padding-top: 40px;
}
 main .left-side {
    padding-top: 50px;
    background: transparent;
    ul {
        li {
            a {
                width: 100%;
                display: block;
                color: #98A0A9;
                padding: 20px 0;
                font-size: 18px;
                font-weight: normal;
                position: relative;
                transition: all .4s ease;
                &::after {
                    content: '';
                    width: 3px;
                    height: 85%;
                    position: absolute;
                    right: 1px;
                    top: 15%;
                    transform: scale(0);
                    background: #553DB4;
                    transition: all .4s ease;
                }
                &.active {
                    color: $text_color;
                    font-weight: 500;
                    &::after {
                        transform: scale(1);
                    }
                }

                &:hover {
                    color: $text_color;

                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

 main .right-side {
    h2 {
        font-size: 36px;
        font-weight: normal;
    }
    background: $main_bg;
    padding: 50px;
}
.arrowdown {
    transition: .4s ease;
}
.arrowdown.active {
    transform: rotate(180deg);
    transition: .4s ease;
}
.paginator-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 28px;
    .paginator {
        width: 60%;
        .pagination {
            .page-item {
                a {
                    color: #98A0A9;
                    &.active {
                        background: #98A0A9;
                        color: #fff;
                    }
                }
                &__bg{
                    a {
                        background: $price_btn;
                    }
                }
            }
        }
    }
    .sort-area {
        max-width: 40%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p {
            margin-bottom: 0;
            margin-right: 12px;
            width: 50%;
            color: #98A0A9;
        }
    }
    .quantity__text {
        color: #98A0A9;
    }
    @media (max-width: 770px) {
        & {
            flex-direction: column;
            .sort-area {
                max-width: 100%;
            }
        }
    }
}
.shops-page main .table-area thead tr th {
    padding: 20px 0 20px 30px;
    background-color: #F0F1F7;
}
.shops-page main .table-area tbody tr th {
    width: 55%;
    padding: 20px 0 20px 30px;
    font-weight: normal;
    font-size: 16px;
    p {
        font-size: 14px;
        color: #98A0A9;
        margin-bottom: 0;
    }
}
.shops-page main .table-area tbody tr td {
    padding: 20px 22px;
    text-align: right;
    a{
        color: $price_btn;
    }
}
.shops-page main .table-area tbody tr td:nth-child(3) {
    font-weight: 700;
}
.shops-page .reestr .table-area .nd tr td:nth-child(3) {
    font-weight: normal ;
}
.table thead th {
    border-bottom: 0;
}
.table-hover tbody tr:hover {
    background: #fff;
}
.table tbody tr:last-child td,
.table tbody tr:last-child th {
    border-bottom: 1px solid #dee2e6;
}
.adress__btn {
    text-align: center;
    background: $price_btn;
    color: #fff;
    cursor: pointer;
    line-height: 32px;
    img {
        margin-right: 10px;
    }
}

// ################################################## shops PAGE END #################################################################

// ################################################## reestr PAGE start #################################################################

.reestr .table-area thead tr th:nth-child(2),
.reestr .table-area thead tr th:nth-child(3) {
    text-align: right;
    padding-right: 22px;
} 
.reestr .table-area tbody tr td{
    font-weight: normal;
}
.table__block {
    margin-bottom: 20px;
}

/* ########## radio btns ######### */

.radio-area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 1000px) {
        flex-direction: column;
        width: 100%;
        .radio-group {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    @media (max-width: 575px) {
        .radio-group {
            flex-direction: column;
        }
    }
 }

.reestr .radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  
  .reestr .radio-group  label {
    color: #98A0A9;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.59);
    margin-bottom: 0;
  }
  
  .reestr .radio-group input[type=radio]:checked + label {
    color: #FFF;
    background: #553DB4;
  }
  

  .reestr  .radio-group {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-right: 20px;
    text-align: center;
  }
  

/* ########## radio btns #############*/

// ################################################## reestr PAGE END #################################################################



// ################################################## inform PAGE start #################################################################

.inform-page {
    @media (max-width: 770px) {
        & {
            .main-header {
                height: 100px;
                background: #553DB4;
            }
            main {
                padding-top: 0;
            }
        }
    }
    .nav-top {
        background: #553DB4;
    }
    .nav-main{
        background: #fff;
        border-bottom: 1px solid #DCE1EC;
        @media (max-width: 770px) {
            & {
                background:transparent;
                border-bottom: none;
                a {
                    color: #fff;
                }
            }
        }
        a {
            color: $text_color;
            &.active {
                color: #98A0A9;
            }
        }
    }
}
.inform-page main {
    padding-top: 75px;
    padding-bottom: 0;
    background: #fff;
}

.doc-table {
    margin-top: 45px;
    width: 100%;
    &__row {
        min-width: 600px;
        padding: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E4E8F0;
        transition: all .4s ease;
        &:first-child {
            border-top: 1px solid #E4E8F0;
        }
        .doc__item {
            display: flex;
            align-items: center;
            img {
                margin-right: 20px;
            }
            p {
                width: 80%;
            }
            i {
                margin-left: 50px;
                padding: 15px;
                background: #EEF0F3;
                color: #98A0A9;
                font-size: 18px;
                border-radius: 11px;
                transition: all .4s ease;
            }
            &:first-child {
                flex: 0 0 70%;
            }
            &:last-child {
                flex: 0 0 30%;
                p {
                    text-align: center;
                    color: #98A0A9;
                }
            }
        }
        &:hover {
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(227, 229, 231, 0.49);
            .doc__item {
                i {
                    background: $content_price;
                    color: #fff;
                }
            }
        }
    }
    p {
        margin-bottom: 0;
    }
    @media (max-width: 900px) {
        & {
            overflow-x: scroll;
        }
    }
}
@media (max-width: 575px) {
    .right-side {
        padding: 20px !important;
    }
}

.accordion {
    margin-top: 40px;
    .card {
        border: none;
        border-bottom: 1px solid #E4E8F0;
        &:first-child {
            border-top: 1px solid #E4E8F0;
        }
        .card-header {
            padding: 20px ;
            display: flex;
            justify-content: space-between;
            border: none;
            div {
                &:last-child {
                    padding: 14px;
                    background: #EEF0F3;
                    border-radius: 11px;
                    &.active {
                        background-color: $content_price;
                    }
                    i {
                        font-size: 20px;
                        color:#98A0A9 ;
                        transition: all .4s ease;
                        &.active {
                            transform: rotate(180deg);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .card-body {
            border-top: 1px solid #E4E8F0;
            text-align: center;
        }
    }
        p {
        margin-bottom: 0;
    }
}

.card {
    border: none;
}

.card-header{
    display: flex;
    justify-content: space-between;
    transition: all .4s ease;
    align-items:center;
    &.active {
        background: #fff;
    }
    div {
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0;
        }
    }
}


// ################################################## inform PAGE END #################################################################



/* ###########################  MODAL CONTACT AREA ########################################################*/
.modal-area {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
    background: rgba(45, 29, 109, 0.39);
    backdrop-filter: blur(2px);
    z-index: 9999;
    transition: all .4 ease;
    padding: 0 15px;
    .modal__contact {
        max-width: 700px;
        width: 100%;
        padding: 25px;
        margin: 0 auto;
        transform: translateY(20%);
        background: #553DB4;
        border: 1px solid rgba(85, 61, 180, 0.13);
        color: #fff;
        .close__icon {
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
            display: block;
            width: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            height: 20px;
            float: right;
        }
        h2 {
            font-weight: normal;
            font-size: 36px;
            padding: 40px 0 ;
            text-align: center;
            color: #fff;
            margin-bottom: 0;

        }
        ul {
            display: flex;
            justify-content: center;
            background: rgba(255, 255, 255, 0.07);;
            border-radius: 3px;
            li {
                flex: 1 1 33.33%;
                a {
                    padding: 20px 30px;
                    text-align: center;
                    width: 100%;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    border-right: 1px solid #553DB4;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -2px;
                        left: 0;
                        right: 0;
                        background: #FFAD00;
                        height: 2px;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease;
                    }
                    &.active {
                        background: #391CAB;
                    }
                    &.active::before {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            @media (max-width: 575px) {
                & {
                    flex-direction: column;
                }
            }
        }
        .tab-content {
            .row {
                div {
                    margin-bottom: 15px;
                    select, input {
                        height: 54px;
                    }
                    textarea {
                        height: 126px;
                    }
                }
            }
            .modal__flex {
                display: flex;
                justify-content: space-between;
                padding: 20px 20px 0 20px;
                div  {
                    display: flex;
                    align-items: center;
                    input {
                        margin-top: -5px;
                        margin-right: 10px;
                        width: 15px;
                    }
                }
                button {
                    padding: 15px 30px;
                    background: #FFAD00;
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    border-radius: 3px;
                }
            }
        }
    }
    @media (max-width:770px) {
        & {
            height: 100%;
            padding: 15px;
            .modal__contact {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                transform: translateY(0);
                h2 {
                    padding: 20px;
                }
            }
        }
    }
}
/* ###########################  MODAL CONTACT AREA ########################################################*/